{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

    <!--Post a job button-->
  	<div class="container mt-5">
  	  <h2>Your Dashboard</h2>
  	   <hr>
	</div>

	<!--Dashboard-->
	<!-- Alerts -->
	{% include 'partials/_alerts.html' %}
	<section id="dashboard" class="py-4">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
			  <p>Here are the Jobs that you have applied</p>
			  
			  {% if applications %}
			  <table class="table">
			  	<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Job Title</th>
						<th scope="col">Company</th>
						<th scope="col">Applied date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for application in applications %}
					<tr>
						<td>{{ application.job_id }}</td>
						<td>{{ application.title }}</td>
						<td>{{ application.company }}</td>
						<td>{{ application.applied_date }}</td>
					</tr>
				{% endfor %}
					</tbody>
				</table>

				
			  {% else %}
				  <center><h5 class="display-4">No jobs applied</h5></center>
			  {% endif %}
	        </div>
	      </div>
	    </div>
  	</section>

{% endblock %}